.home-container {
    min-height: calc(100vh - 70px); /* hauteur totale - header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.home-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.home-container p {
    font-size: 20px;
    max-width: 600px;
    line-height: 1.5;
}
